<h1><%= @list.name %></h1>

<h2>bookmarks</h2>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %>, <%= bookmark.comment %></li>
    <%= link_to "Delete this Bookmark", bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <% end %>
</ul>

<%= link_to "Create a new Bookmark", new_list_bookmark_path(@list)%>
<%= link_to "Back to all Lists", lists_path%>
